<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="HW25" parallel="methods" thread-count="3">
    <parameter name="BaseURL" value="https://qa.koel.app/"/>

    <test name="Cloud_Chrome">
        <parameter name="Browser" value="chrome"/>
        <parameter name="Target" value="cloud"/>
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>
</suite>
